*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Playfair Display", serif;
}

body{
  background:#f8fafc;
  color:#0a2540;
}

header{
  background:#0a2540;
  color:white;
  text-align:center;
  padding:20px;
}

#page{
  display:flex;
  justify-content:center;
  gap:10px;
  background:#eef2f7;
  padding:15px;
}

#page button{
  background:#0a2540;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
}

#form-section h1{
  text-align:center;
  margin:30px 0;
}

.form-box{
  max-width:900px;
  margin:auto;
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 6px 20px rgba(0,0,0,0.1);
}

.institute-form{
  border-left:6px solid #0a2540;
}

.input-group{
  margin-bottom:15px;
}

input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #cbd5e1;
}

.submit-btn{
  background:#0a2540;
  color:white;
  padding:12px 25px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.submit-btn:hover{
  background:#123d6a;
}

footer{
  background:#061a30;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:40px;
}
img{
  border: 2px solid black;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-bottom: 3px;

}
