*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Playfair Display", serif;
}

body{
  background:#f8fafc;
  color:#0a2540;
}

header{
  background:#0a2540;
  color:white;
  text-align:center;
  padding:25px;
}

#pick{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:40px;
  flex-wrap:wrap;
}

.box{
  background:white;
  padding:15px;
  border-radius:12px;
  width:300px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.box img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

button{
  margin-top:15px;
  padding:10px;
  width:100%;
  border:none;
  border-radius:8px;
  background:#0a2540;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#123d6a;
}

footer{
  background:#061a30;
  color:white;
  text-align:center;
  padding:15px;
}

h1
{
  text-align: center;
 margin-top: 8px;
}